.at_container {
width:961px;
position:relative;
margin:0;
height:420px;
}


.at_carousel {
width:262px;
height:420px;
overflow:hidden;
display:inline;
margin:0;
}

.at_carouselleft{
  float:left;
}

.at_carouselright{
  float:right;
}

.at_carousel .at_casebox {
width:262px;
overflow:hidden;
position:relative;
left:0;
height:auto;
margin:0;
padding:0;
}

.at_carousel ul.at_casebox li.at_case {
float:left;
list-style:none;
width:262px;
height:140px;
overflow:hidden;
margin:0;
}

.at_feature {
height:420px!important;
width:699px;
float:left;
display:inline;
}

a.bloom {
opacity:0.4;
margin:0;
padding:0;
border:0;
}

a.bloomActive,a.bloom:hover {
opacity:1;
margin:0;
padding:0;
border:0;
}

.shadowbox {
-moz-box-shadow:0 0 10px #111;
-webkit-box-shadow:0 0 10px #111;
box-shadow:0 0 10px #111;
}

a.at_pausebtn {
display:inline;
position:absolute;
top:10px;
left:900px;
height:40px;
width:40px;
opacity:1.0;
margin:auto;
}

a.at_pausebtn:hover {
display:inline;
position:absolute;
top:10px;
left:900px;
height:40px;
width:40px;
opacity:1.0;
}

a.at_pause{
 background-image:url();
 background-color:red;

}

a.at_mousepause{
 background-image:url();
 background-color:red;
 opacity:0.4;

}

a.at_play{
 background-image:url();
 background-color:green;
 opacity:1;
}


a.at_nextbtn {
display:inline;
/*position:absolute;*/
top:370px;
left:110px;
height:40px;
width:40px;
opacity:0.1;
margin:auto;
}

a.at_nextbtn:hover {
display:inline;
/*position:absolute;
top:370px;
left:110px;*/
height:40px;
width:40px;
opacity:1.0;
background-color:blue;
}

a.at_nextbtnleft {
position:absolute;
top:370px;
left:110px;
}

a.at_nextbtnright {
position:absolute;
top:370px;
left:811px;
}




.rwcarouselImgLg{
height:420px;
width:699px;
padding:0
margin:0
}

a.at_imglg {
height:420px!important;
width:699px;
padding:0
margin:0

}



